@{
    ViewData["Title"] = "PROTICKETSFAST - Home";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido a PROTICKETSFAST</h1>
    <p>Gestiona y administra tus tickets de eventos de manera eficiente y rápida.</p>
    <img src="https://media.discordapp.net/attachments/999859954808791100/1234334265475465216/file-8Au96amllEMgwDHoXdhhZC8Q.png?ex=66305add&is=662f095d&hm=d0567503ddb56a520b0987f34eb98826977a9b3c799194741ff706d2d4814eb3&=&format=webp&quality=lossless&width=350&height=350" alt="Imagen Descriptiva" class="img-fluid" style="max-width: 80%; height: auto;">
    <div class="mt-4">
        <a href="/Evento" class="btn btn-primary">Administrar Eventos</a>
        <a href="/Ticket" class="btn btn-secondary">Administrar Tickets</a>
    </div>
</div>
